.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding-left: 0px;
}

.header button {
  margin: 20px 20px 0 0;
  padding: 3px 5px 3px 5px;
  border-radius: 5px;
  width: 60px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid white;
  background-color: transparent;
  color: white;
}

.header button:hover {
  color: rgb(31, 31, 227);
  background-color: white;
}

.header select {
  width: 21%;
  margin: 20px 20px 0 10px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-weight: bold;
}

.header select option {
  width: 15%;
  white-space: normal;
  color: black;
}
